/* Custom styling for the pill form */
.pill-form {
    max-width: 400px;
    /* margin: 0 auto; */
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    right: 100px;
}

h2 {
    text-align: center;
    color: rgb(122, 145, 161);
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.pill-entry {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    margin-right: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 14px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-left: 60px;
}

button:hover {
    background-color: #0056b3;
}

/* DatePicker styling */
.react-datepicker-wrapper,
.react-datepicker__input-container {
    width: 100%;
}

.react-datepicker__time-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;}

.blah {
    background-image: url('medication.png') !important;
}