.about {
    background-image: url('src/components/about.jpeg');
    width: 100vw;
    height: 100vh;
    /* position: fixed; */
    background-size: cover;
    /* z-index: -1; */
    /* top: 50px; */
}